
{% extends "base.html" %}
{% block title %}Time Range Query{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="form-group">
        <form action="/time_range" method="POST">
            {{ form.csrf_token() }}
            {{ form.time_start.label }} {{ form.time_start }}<br/>
            {{ form.time_end.label }} {{ form.time_end }}<br/>
            {{ form.submit }}
        </form>
    </div>
    {% if error %}
        <h4><font color="red">{{ error }}</font></h4>
    {% endif %}
    {% if records %}
        <h3>Query completed in {{ query_time|round(2) }} seconds.</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Net</th>
                    <th>Time</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.net }}</td>
                    <td>{{ record.time }}</td>
                    <td>{{ record.latitude }}</td>
                    <td>{{ record.longitude }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}